MONGODB_URL=mongodb://localhost:27017


JWT_SECRET=84c7b3af3fbbac


# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30d
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30

# Master password
MASTER_PASSWORD="master-pass"


